{% extends 'base.html' %}
{% block content %}
<section>

<div class="border border-secondary shadow-lg p-3 mb-5 bg-white rounded" style="margin: 10% 0 0 30%; width: 35%;">
    <form method="post">          
        {%csrf_token%}
        <div>
            <label for="">value</label>
            <input type="text" class="form-control"  value="{{error}}" name="num1"/>
            
        </div>
        <div>
            <button type="submit">even|odd </button>
        </div>
        <div>
            <label for="">result</label>
            <input type="text"class="form-control" value="{{res}}"/>

        </div>
    </form>
</div>
</section>    
{%endblock%}