{% extends "base.html" %}
{% block content %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <script src="https://unpkg.com/ionicons@latest/dist/ionicons.js"></script> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Users</title>
</head>

<!-- <a href="#"><ion-icon name="logo-instagram"></ion-icon></a> -->

<body>
    <div class="container">

        <section style="background-color: #eee;">
            <div class="border border-2 " style="height: auto; width: 100%;">
                <div class="m-2" style="background-color:white; text-align: center; ">
                    <h1 class="" style="text-align: center;">Profiles for Users</h1>
                    <div class="profiles-user  border border-1 "
                        style="border-radius: 50%; margin: auto; width: 10%; height: 90px; background-color:gray;  align-items: center; ">
                        <!-- <i class="fa fa-user" style="font-size:70px; "></i><br /> -->
                        <img src="https://buffer.com/cdn-cgi/image/w=1000,fit=contain,q=90,f=auto/library/content/images/size/w1200/2023/10/free-images.jpg"
                            alt="image" class=""
                            style="width: 100%; height: 90px; border-radius: 50%; position: relative; ">
                    </div>
                    <button style="font-size:20px" class="m-3">Edit Profiles</button>
                </div>
                <div class="container">
                    <div class="row mt-4" style="justify-content: center;">
                        <div class="row">
                            <div class="col-sm-6 mb-4">
                                <div class="card">
                                    <div class="">
                                        <div class="m-2 "
                                            style="background-color:white; text-align: center; width: 90%; height: auto; ">
                                            <div class="col">
                                                <h3>Attend Quizzes</h3>
                                                <div class="progress">
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <ol class="list-group list-group-numbered m-3">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Quizzes question</div>
                                                            Abcd
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Quizzes question</div>
                                                            defg
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Quizzes question</div>
                                                            hijk
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="card">
                                    <div class="">
                                        <div class="m-2"
                                            style="background-color:white; text-align: center;  width: 90%; height: auto; ">
                                            <div class="col">
                                                <h3>Attend Song</h3>
                                                <div class="progress">
                                                    <div class="progress-bar w-75" role="progressbar" aria-valuenow="75"
                                                        aria-valuemin="0" aria-valuemax="100"></div>
                                                </div>
                                                <ol class="list-group list-group-numbered m-3">
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Song </div>
                                                            abcd
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Song</div>
                                                            defg
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                    <li
                                                        class="list-group-item d-flex justify-content-between align-items-start">
                                                        <div class="ms-2 me-auto">
                                                            <div class="fw-bold">Song</div>
                                                            hijk
                                                        </div>
                                                        <span class="badge bg-primary rounded-pill">14</span>
                                                    </li>
                                                </ol>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section style="background-color: #eee;" class="mt-5 mb-4">
            <h1 class="mb-5">Benefit For Attending Online Question </h1>
            <div class="border border-2 " style="height: auto; width: 100%;">

                <h2>1.Knowledge and Learning: </h2>
                <p>You can gain knowledge and insights by asking questions and listening to answers from experts or
                    experienced individuals. This can help you learn new things or deepen your understanding of a
                    particular topic.</p>
                <h2>2.Problem Solving:</h2>
                <p>If you have questions or problems, getting answers online can help you find solutions. Online
                    communities and Q&A platforms often provide valuable insights and solutions to a wide range of
                    issues.</p>
                <h2>3.Professional Development: </h2>
                <p> Attending webinars, workshops, or Q&A sessions related to your profession or industry can contribute
                    to your professional development. You can stay up-to-date with industry trends and best practices.
                </p>
                <h2>4.Sharing Knowledge: </h2>
                <p>If you have expertise in a particular area, answering questions online allows you to share your
                    knowledge and help others. This can be personally fulfilling and contribute to your online
                    reputation.</p>
                <h2>5.Online Visibility: </h2>
                <p>Active participation in online discussions can enhance your online visibility and reputation. It can
                    also be a way to build your personal brand or establish yourself as an authority in a specific
                    field.</p>
                <h2>6.Research and Information Gathering:</h2>
                <p>Online Q&A sessions can be a valuable source of information for research or decision-making. You
                    can get firsthand insights or data from experts or the community.</p>
                <h2>7.Problem Awareness: </h2>
                <p> By participating in discussions and asking questions, you can become more aware of problems,
                    challenges, and opportunities within your area of interest or expertise.</p>
                <h2>8.Time and Cost Efficiency: </h2>
                <p>Online Q&A sessions save time and money compared to attending in-person events. You can participate
                    from the comfort of your home or office, reducing travel and related expenses.</p>

            </div>
        </section>
    </div>
</body>

</html>
{% endblock  %}